<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="icon" type="image/png"  href="../images/logo1.png">

    <title>评论管理</title>

    <!--订单列表-->
    <link href="js/advanced-datatable/css/demo_page.css" rel="stylesheet" />
    <link href="js/advanced-datatable/css/demo_table.css" rel="stylesheet" />
    <link rel="stylesheet" href="js/data-tables/DT_bootstrap.css" />

    <div th:include="common ::commonheader"></div>
</head>

<body class="sticky-header">

<section>
    <div th:replace="common :: leftmenu"></div>

    <!-- main content start-->
    <div class="main-content" >

        <!-- thymeleaf头菜单模板引用-->
        <div th:replace="common :: headermenu"></div>

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                评论列表
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a th:href="@{/main.html}">主页</a>
                </li>
                <li>
                    <a th:href="@{/admin_table}">评论管理</a>
                </li>
                <li class="active"> 评论列表 </li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            评论列表
                            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
                <a href="javascript:;" class="fa fa-times"></a>
             </span>
                        </header>

                        <div class="panel-body">
                            <!--添加管理员按钮-->
                            <div class="btn-group">
                                <a href="#addModal" data-toggle="modal" class="btn btn-primary">
                                    添加评论<i class="fa fa-plus"></i>
                                </a>
                            </div>
                            <div class="adv-table">
                                <table class="display table table-bordered table-striped" id="dynamic-table">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>评论ID</th>
                                        <th>评论用户</th>
                                        <th>评论内容</th>
                                        <th>作品ID</th>
                                        <th>创建时间</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!--数据-->
                                    <tr class="gradeX" th:each="comment,stat:${Comments}">
                                        <td th:text="${stat.count}" class="center">#</td>
                                        <td th:text="${comment.commentid}" class="center">评论ID</td>
                                        <td th:text="${comment.username}" class="center">评论用户</td>
                                        <td th:text="${comment.content}" class="center">评论内容</td>
                                        <td th:text="${comment.goodsid}" class="center">作品ID</td>
                                        <td th:text="${comment.creattime}" class="center">创建时间</td>
                                        <td class="center">
                                            <a th:href="@{/comment/toUpdate/{id}(id=${comment.commentid})}" class="btn btn-default" type="button">修改</a>
                                            <a th:href="@{/comment/delete/{id}(id=${comment.commentid})}" class="btn btn-danger" type="button">删除</a>

                                            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="addModal" class="modal fade">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                                            <h4 class="modal-title">添加评论</h4>
                                                        </div>

                                                        <div class="modal-body">

                                                            <form action="#" th:action="@{/comment/insert}" method="post">
                                                                <div class="form-row">
<!--                                                                    <div class="col-md-13">-->
<!--                                                                        <label>&nbsp&nbsp作品ID</label>-->
<!--                                                                        <input type="text" name="commentid" class="form-control" required>-->
<!--                                                                    </div>-->
<!--                                                                    </br>-->

                                                                    <div class="col-md-13">
                                                                        <label>作品ID</label>
                                                                        <input type="text" name="goodsid" class="form-control" required>
                                                                    </div>
                                                                    <br>

                                                                    <div class="col-md-13">
                                                                        <label>评论内容</label>
                                                                        <input type="text" name="content" class="form-control" required>
                                                                    </div>
                                                                    </br>

                                                                    <div class="col-md-13">
                                                                        <label>评论用户</label>
                                                                        <input type="text" name="username" class="form-control" required>
                                                                    </div>
                                                                    </br>
                                                                </div>

                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                                    <button type="submit" class="btn btn-success" >确定</button>
                                                                </div>
                                                            </form>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <footer>
                2021摄影约拍系统    作者:胥明毓
            </footer>
        </div>
    </div>
</section>

<!--JS模板引用-->
<div th:replace="common ::commonscript"></div>

<!--dynamic table-->
<script type="text/javascript" language="javascript" src="js/advanced-datatable/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="js/data-tables/DT_bootstrap.js"></script>
<!--dynamic table initialization -->
<script src="js/dynamic_table_init.js"></script>


</body>
</html>
