<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
    <link rel="icon" type="image/png"  href="../images/logo1.png">

  <title>摄影作品列表</title>

  <!--订单列表-->
  <link href="js/advanced-datatable/css/demo_page.css" rel="stylesheet" />
  <link href="js/advanced-datatable/css/demo_table.css" rel="stylesheet" />
  <link rel="stylesheet" href="js/data-tables/DT_bootstrap.css" />

    <div th:include="common ::commonheader"></div>
</head>

<body class="sticky-header">

<section>
    <div th:replace="common :: leftmenu"></div>
    
    <!-- main content start-->
    <div class="main-content" >

        <!-- thymeleaf头菜单模板引用-->
        <div th:replace="common :: headermenu"></div>

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                摄影作品列表
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a th:href="@{/main.html}">主页</a>
                </li>
                <li>
                    <a href="#">摄影作品管理</a>
                </li>
                <li class="active"> 摄影作品列表 </li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
        <div class="row">
        <div class="col-sm-12">
        <section class="panel">
        <header class="panel-heading">
            摄影作品列表
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
                <a href="javascript:;" class="fa fa-times"></a>
             </span>
        </header>

        <div class="panel-body">
            <!--添加作品按钮-->
            <div class="btn-group">
                <a href="#addModal" data-toggle="modal" class="btn btn-primary">
                    添加作品<i class="fa fa-plus"></i>
                </a>
            </div>
        <div class="adv-table">
        <table class="display table table-bordered table-striped" id="dynamic-table">
        <thead>
        <tr>
            <th>#</th>
            <th>作品名称</th>
            <th>图片</th>
            <th>介绍</th>
            <th>地点</th>
            <th>预约价格</th>
            <th>点赞数</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <!--数据-->
        <tr class="gradeX" th:each="work,stat:${works}">
            <td th:text="${stat.count}" class="center">#</td>
            <td style="width: 100px;padding-top: 100px;" th:text="${work.name}" class="center"></td>
            <td class="center"><img style="height: 200px ;width: 200px;" th:src="${work.posterurl}"></img></td>
            <td style="width: 200px"th:text="${work.actor}" class="center"></td>
            <td style="padding-top: 100px;" th:text="${work.isshow}" class="center"></td>
            <td style="padding-top: 100px;" th:text="${work.score}" class="center"></td>
            <td style="padding-top: 100px;" th:text="${work.playinfo}" class="center"></td>
            <td style="padding-top: 100px;" class="center">
                <a th:href="@{/work/toUpdate/{id}(id=${work.id})}" class="btn btn-default">修改</a>
                <a th:href="@{/work/delete/{id}(id=${work.id})}" class="btn btn-danger" type="button">删除</a>

                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="addModal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                <h4 class="modal-title">添加作品</h4>
                            </div>

                            <div class="modal-body">

                                <form action="#" th:action="@{/work/insert}" method="post">
                                    <div class="form-row">
                                        <div class="col-md-13">
                                            <label>作品名称</label>
                                            <input type="text" name="name" class="form-control" required>
                                        </div>
                                        </br>

                                        <div class="col-md-13">
                                            <label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp图片</label>
                                            <input type="text" name="posterurl" class="form-control" required>
                                        </div>
                                        </br>


                                        <div class="col-md-13">
                                            <label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp地点</label>
                                            <input type="text" name="isshow" class="form-control" required>
                                        </div>
                                        <br>

                                        <div class="col-md-13">
                                            <label>预约价格</label>
                                            <input type="text" name="score" class="form-control" required>
                                        </div>
                                        <br>

                                        <div class="col-md-13">
                                            <label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp介绍</label>
<!--                                            <input type="text" name="actor" class="form-control" required>-->
                                            <textarea name="actor" class="form-control" ></textarea>
                                        </div>
                                        <br>

                                    <br>

                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="submit" class="btn btn-success" >确定</button>
                                    </div>
                                </form>

                            </div>

                        </div>
                    </div>
                </div>

            </td>
        </tr>

        </tbody>
        </table>
        </div>
        </div>
        </section>
        </div>
        </div>
        <footer>
            2021摄影约拍系统    作者:胥明毓
        </footer>
    </div>
    </div>
</section>

<!--JS模板引用-->
<div th:replace="common ::commonscript"></div>

<!--dynamic table-->
<script type="text/javascript" language="javascript" src="js/advanced-datatable/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="js/data-tables/DT_bootstrap.js"></script>
<!--dynamic table initialization -->
<script src="js/dynamic_table_init.js"></script>


</body>
</html>
