<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmy.demophoto.mapper.GoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xmy.demophoto.entity.Goods">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="posterurl" property="posterurl" />
        <result column="type" property="type" />
        <result column="score" property="score" />
        <result column="actor" property="actor" />
        <result column="screen" property="screen" />
        <result column="isshow" property="isshow" />
        <result column="wish" property="wish" />
        <result column="playinfo" property="playinfo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, posterurl, type, score, actor, screen, isshow, wish, playinfo
    </sql>

</mapper>
